/* stylelint-disable max-line-length */
@font-face {
  font-display: block;
  font-family: bupaicons_ds;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/bupaicons_ds.woff2') format('woff2');
}

@font-face {
    font-family: "Bupa";
    src: url('../fonts/Metropolis-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bupa";
    src: url('../fonts/Metropolis-Regular.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/roboto-regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

[class*="icon__"] {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: bupaicons_ds;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    speak: none;
    text-transform: none;
    position: relative;
}
.a-icon__coPaymentLinear:before, .icon-co-payment-linear:before {
    content: "\e9d1";
}
.a-icon__shieldProtectionLinear:before, .icon-shield-protection-linear:before {
    content: "\ebdc";
}
.a-icon__purseLinear:before, .icon-purse-linear:before {
    content: "\ea64";
}
.a-icon__animalFootprintLinear:before, .icon-animal-footprint-linear:before {
    content: "\ed7a";
}
.a-icon__dentistryLinear:before, .icon-dentistry-linear:before {
    content: "\eb0e";
}
.a-icon__worldLinear:before, .icon-world-linear:before {
    content: "\eaba";
}
.a-icon__listLinear:before, .icon-list-linear:before {
    content: "\ea29";
}
.a-icon__calculatorSolid:before, .icon-calculator-solid:before {
    content: "\eb4b";
}